{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{asset('assets/style1.css')}}">
{% endblock %}

{% block body %}
<div class="banner1" >
<img src="{{asset('assets/img1.jpg')}} " class="im" >
<div class="text-box text-box1">
<h1> Bbeauté </h1>
<span></span>
<p>C’est dans la banlieue de nord de Tunis, et plus précisément à la Marsa que le centre <b class="text-danger">Bbeaute</b> s’est installé, marquant officiellement son ouverture  pour le plus grand bonheur des férues de la beauté et du bien-être.

Cette ouverture a été rehaussée par la présence de Mme Christelle Galais, coiffeur styliste-visagiste de Vitality’s, le spécialiste capillaire italien, venue spécialement de l’Italie pour partager avec les premières clientes du centre, son expertise et son savoir faire et apporter une touche finale à la formation de l’équipe JetSet Beauty.</p>
</div>
</div>
<div class="banner2" >
<img src="{{asset('assets/img2.jpg')}} " class="im" >
<div class="text-box text-box2">
<h1> Bbeauté</h1>
<span></span>
<p>C’est dans la banlieue de nord de Tunis, et plus précisément à la Marsa que le centre <b class="text-secondary">Bbeaute</b> s’est installé, marquant officiellement son ouverture  pour le plus grand bonheur des férues de la beauté et du bien-être.

Cette ouverture a été rehaussée par la présence de Mme Christelle Galais, coiffeur styliste-visagiste de Vitality’s, le spécialiste capillaire italien, venue spécialement de l’Italie pour partager avec les premières clientes du centre, son expertise et son savoir faire et apporter une touche finale à la formation de l’équipe JetSet Beauty.</p>
</div>
</div>
<div class="banner3" >
<img src="{{asset('assets/img3.jpg')}} " class="im" >
<div class="text-box text-box3">
<h1> Bbeauté </h1>
<span></span>
<img src="{{asset('assets/logo.png')}} " class="im2" >
</div>
</div>



{% endblock %}
